.vscode
.idea/*
.idea/workspace.xml
zeitmessung_debug
DirectImplemenationTesting
.run
basictestsdebug
res.ppm
.main.c
.test_ppm_images .
Implementierung/.idea/*
Implementierung/test_main.c
Implementierung/0_0_0_zero.ppm
Implementierung/0_0_50_darker.ppm
Implementierung/0_0_255_few_mainblack_few_white.ppm
Implementierung/0_0_255random.ppm
Implementierung/0_200_255_brighter.ppm
Implementierung/0_255_255_white.ppm
Implementierung/1_0_0_zero.ppm
Implementierung/1_0_50_darker.ppm
Implementierung/1_0_255_few_mainblack_few_white.ppm
Implementierung/1_0_255random.ppm
Implementierung/1_200_255_brighter.ppm
Implementierung/1_255_255_white.ppm
Implementierung/2_0_50_darker.ppm
Implementierung/2_0_255random.ppm
Implementierung/2_200_255_brighter.ppm
Implementierung/3_0_50_darker.ppm
Implementierung/3_0_255random.ppm
Implementierung/3_200_255_brighter.ppm
Implementierung/4_0_50_darker.ppm
Implementierung/4_0_255random.ppm
Implementierung/4_200_255_brighter.ppm
Implementierung/5_0_255random.ppm
Implementierung/6_0_255random.ppm
Implementierung/7_0_255random.ppm
Implementierung/8_0_255random.ppm
Implementierung/9_0_255random.ppm
outputfile.pgm
Implementierung/test_main
Implementierung/testing
Implementierung/compute_deviation
Implementierung/imageprocessing
Implementierung/implementation_one_result.pgm
Implementierung/implementation_two_result.pgm
bench_basic_instructions.csv
benchmark
1.pgm
2.pgm
benchmark_O3